
<h2 class="text-center">{{Achievement.name}}</h2>
<div class="card-image small">
<img class="center" src="/{{Achievement.certificate}}">
</div>

<p class="content">Дата достижения: {{Achievement.date}} <br>
  Описание: {{Achievement.description}} <br>
{{#if Participants}}
  В мероприятии принимали участие:
  {{#each Participants}}
    {{FIO}},
  {{/each}}
  {{else}}
  К мероприятию пока не прикреплены участники!
  {{/if}}
</p>

<script>

</script>



