
{{#if errk}}
<p class="card-panel purple lighten 3">{{errk}}</p>
{{/if}}
{{# if errs.length}}
  <ul>
    {{#each errs}}
      <li>
        <p class="card-panel purple msg">{{msg}}</p>
      </li>
    {{/each}}

  </ul>
{{/if}}

<form action="/achievements/edit/{{Achievement.achiv_id}}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{Achievement.achiv_id}}" />
  <label for="name">Название</label><br>
  <input name="name" value="{{Achievement.name}}"  class="field" /><br><br>
  <label>Дата </label><br>
  <input name="date" type="date" value="{{Achievement.date}}"  class="field" /><br><br>
  <label>Тип достижения</label><br>
  <input name="type" value="{{Achievement.type}}"  class="field" /><br><br>
  <label>Описание</label><br>
  <input name="description" value="{{Achievement.description}}"  class="field" /><br><br>
  <label>Сертификат</label><br>
  <input type="file" name="certificate" value="{{Achievement.certificate}}" accept="/image/*" class="field" /><br><br>
  <input type="submit" class="btn blue center" value="Сохранить"  />

</form>
