
<button class="btn btn-success"><a href="/achievements/add">Добавить</a></button>
<br><br>
{{#if Achievements.length}}
  <table>
    <tr class="paint_tab">
      <th class="text-center">Название</th>
      <th class="text-center" >Дата</th>
      <th class="text-center">Описание</th>
      <th class="text-center">Операция</th>
    </tr>
    {{#each Achievements}}
      <tr class="paint_tab">
        <td class="text-center"><a href="/achievements/check/{{achiv_id}}">{{name}}</a></td>
        <td class="text-center">{{date}}</td>
        <td class="text-center">{{description}}</td>
        <td class="text-center">
          <form action="/achievements/delete/{{achiv_id}}" method="POST" style="display:inline;">
            <input onclick="const c=confirm('Вы действительно хотите удалить эту запись?')
           if(!c) return event.preventDefault() " class='btn btn-danger' type="submit" value="Удалить" />
          </form>
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>Пока нет достижений!!!</p>
{{/if}}


