<style>
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
  }
  th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
  }
  th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
  }
  td {
    background: #D8E6F3;
  }
  th:first-child, td:first-child {
    text-align: left;
  }
  .btn-danger{
    background-color:crimson;
  }
  .btn-success {
    background-color: #50d9ca;
  }
</style>
<h1>Список Участников</h1>
<input type="hidden" name="_id" value="{{achiv_id}}">
<br><br>
{{#if Participants.length}}
  <table>
    <tr>
      <th>Дата</th>
      <th>Описание</th>
      <th>Операция</th>
    </tr>
    {{#each Participants}}
      <tr>
        <th>{{FIO}}</th>
        <th>{{Position}}</th>
        <th>
          <form action="/participate/add/{{part_id}}" method="POST" style="display:inline;">
            <input type="hidden" name="_id" value="{{achiv_id}}">
            <input class='btn btn-success' type="submit" value="Прикрепить" />
          </form>
        </th>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>Пока нет участников!!!</p>
{{/if}}


