<h3>Участники достижения:</h3>

{{#if Achievements.length}}
<table>
  <tr>
    <th>ФИО</th>
    <th>Позиция</th>
    <th>Ссылка на профиль</th>
    <th>Операция</th>
  </tr>
  {{#each Achievements}}
    <tr>
      <th>{{FIO}}</th>
      <th>{{Position}}</th>
      {{#if link.length}}
      <th><a href="{{link}}">{{link}}</a></th>
      {{else}}
        <th>Отсутствует</th>
        {{/if}}
      <th>
        <form action="/participate/delete/{{part_id}}" method="POST" style="display:inline;">
          <input type="hidden" name="_id" value="{{achiv_id}}">
          <input onclick="const c=confirm('Вы действительно хотите открепить данного участника от этого достижения?')
           if(!c) return event.preventDefault() " class='btn btn-danger' type="submit" value="Убрать" />
        </form>
      </th>
    </tr>
  {{/each}}
</table>
{{else}}
  <p>У этого достижения пока нет участников!</p>
{{/if}}

<p><strong>Выберите участников:</strong></p>
<ol>
   {{#each Participants}}
       <li>{{FIO}}/{{Position}} <button name="addtoPart" value="{{part_id}}">Выбрать</button></li>
<br>
   {{/each}}
</ol>
  <form action="/participate/add/{{achiv_id}}" method="post" style="display: inline">
  <input type="hidden" name="part_id" id="part_id" value="">
  <input type="submit" class="btn btn-attach" value="Сохранить">
</form>
<script>
  const adds=document.getElementsByName('addtoPart')
  const part_id=document.getElementById('part_id')
  for(let i=0;i<adds.length;i++){
      adds[i].onclick=()=>{
          console.log(adds[i].attributes.value.value)
        part_id.value=adds[i].attributes.value.value
    }
  }
</script>