{{#if Person.Name.length}}
  <h1>Редактирование пользователя</h1>
<form action="/person/{{Person.idPerson}}" method="POST">
  <input type="hidden" name="id" value="{{Person.idPerson}}" />
  <label>Имя</label><br>
  <input name="name" value="{{Person.Name}}"  class="field" /><br><br>
  <label>Фамилия</label><br>
  <input name="surname" min="1" max="110" value="{{Person.Surname}}"  class="field" /><br><br>
  <input type="submit" class="btn" value="Отправить" />
</form>
<a href="/persons">К списку пользователей</a>
  {{else}}
  <p>Here no such user!</p>
  {{/if}}